/* CSS Variable */
:root {
    --primaryColor: purple; 
}
  
#app{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    min-height: 100vh;
}
.guideSection h2, .routerLink h2{
    border-bottom: 1px solid grey;  
}
.routerLink{
    text-decoration: none;
}
button{
    text-align: center;
    border: 2px solid purple;
    background-color: white;
    padding: 20px;;
    border-radius: 10px;
}
button:hover{
    cursor: pointer;
    border: 2px solid skyblue;
}
button:focus{
    background-color: white !important;
    color: black !important;
    border: 2px solid skyblue;
    outline:0;
}
button:nth-child(odd){

}
.doubleBlue{
    color: blue;
    border-bottom: 1px solid blue;
}
#colorBox{
    width: 200px;
    height: 200px;
    background: purple;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pinkBox{
    background: pink !important;

}
.width-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.pain-areas input{
    color: red;
}
.subtitle{
    font-weight: 900;
    font-size: 16px;
}
.parentFirst{
    color: skyblue;
}
.childFirst{
    color: pink;
}
.mouse-button{
    padding: 10px;
    border: 1px solid blue;
    max-width: 50%;
}
[v-cloak]{
    display: none;
}
.toggle-button{
    background-color: white;
    color: darkblue;
    padding: 1%;
    font-weight: 900;
}
.toggle-button:hover{
    cursor: pointer;
}
.contentBox{
    margin-left: 5%;
}
.contentBox img{
    max-width: 100%;
}